<?xml version="1.0" encoding="UTF-8"?>
<script overwrite-on-import="true"><script-text>CsvWriter writer = session.getVariable("theWriter");
writer.close();</script-text><name>CerrarVariables</name><language>Interpreted Java</language><date_exported>noviembre 28, 2016 13:31:34</date_exported></script>