<?xml version="1.0" encoding="UTF-8"?>
<script overwrite-on-import="true"><script-text>CsvWriter writer = session.getVariable("theWriter");
writer.close();</script-text><name>CerrarVariables</name><language>Interpreted Java</language><date_exported>octubre 31, 2017 17:13:51</date_exported></script>